{% assign feed_path = "/feed.xml" %}
{% if site.feed and site.feed.path %}
  {% assign feed_path = site.feed.path %}
{% endif %}
<hr>
<img src="{{site.baseurl}}/images/crowd.jpg" width="900"> <br>
&copy; {{ site.author }} - Powered by <a href="https://jekyllrb.com">Jekyll</a> 
&amp; <a href="https://github.com/yous/whiteglass">whiteglass</a> - 
Subscribe via <a href="{{ feed_path | absolute_url }}">RSS</a>

<br>

Source Code: <a href="https://gitlab.com/fsf-india/rms-visit-2019" target="_new"> Gitlab.com </a> |
<a href="https://git.gnu.org.in/fsf-india/rms-tour" target="_new"> Local Copy </a>  


