<header class="site-header">

  <div class="wrapper">

    <img class="site-title" src="{{site.baseurl}}/images/profile-small.png"> <br>
    <a class="site-title" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a> 
    <img src="{{site.baseurl}}/images/fsf_logo-new.png" height="75" style="padding-left: 200px">

    <br>

    <nav class="site-nav">
      {% for link in site.data.navigation.main %}
        {% if link.url contains "http" %}
          {% assign url = link.url %}
        {% else %}
          {% assign url = link.url | relative_url %}
        {% endif %}
        <a class="page-link" href="{{ url }}">{{ link.title }}</a>
      {% endfor %}
    </nav>

  </div>

</header>
